body {
 background-color: transparent;
 color: #333;
 font: 12px/18px "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
 -webkit-font-smoothing: antialiased;
}

.billboard {
 bottom: 292px;
 left: 0;
 overflow: hidden;
 position: absolute;
 right: 0;
 top: 0;
}

.hero {
 bottom: 0;
 left: 0;
 position: absolute;
 right: 0;
 top: 0;
}

.your-verse {
 background: url("../images/your_verse_hero.jpg") 50% 100% no-repeat;
 background-size: 1440px 1315px;
 left: 50%;
 margin-left: -720px;
 min-width: 1440px;
 right: auto;
 width: 1440px;
}

/* Navigation */
.navigation {
 position: relative;
 top: 15px;
}

.navigation ul {
 display: flex;
 flex-direction: row;
 justify-content: center;
 min-width: calc(9 * 102px);
}

.navigation ul li {
 background-image: radial-gradient(#666, grey);
 background-repeat: no-repeat;
 border: 1px solid #555;
 -webkit-box-sizing: border-box;
 -moz-box-sizing: border-box;
 box-sizing: border-box;
 height: 36px;
 position: relative;
 width: 102px;
}

.navigation ul li:first-child {
 border-bottom-left-radius: 3px;
 border-top-left-radius: 3px;
}

.navigation ul li:last-child {
 border-bottom-right-radius: 3px;
 border-top-right-radius: 3px;
}

.navigation li a {
 color: #fff;
 cursor: pointer;
 left: 0;
 margin-top: -9px;
 overflow: hidden;
 position: absolute;
 right: 0;
 text-align: center;
 top: 50%;
}

.navigation li a, .navigation li a:hover, .navigation li a:visited {
 text-decoration: none;
}

.fa-apple {
 font-size: 18px;
}

/*
.nav-search {
 align-items: center;
 background-image: url("../images/nav/globalsearch_bg.png");
 background-repeat: no-repeat;
 display: flex;
 justify-content: center;
}

.nav-search input {
 border-radius: 3px;
 height: 19px;
 padding: 2px 18px 1px 22px;
 width: 80%;
}